.page {
  background-color: #2c374bff;
  color: white;
  height: 100vh;
}

.viewpanel {
  background-color: #1e2c40ff;
  height: 30vh;
}

.mainpanel {
  background-color: #1c2636ff;
  height: 70vh;
  font-size: large;
  color: #1078ffff;
}

.panel {
  height: 100vh;
  border-style: solid;
  border-color: #465e86ff;
}